/*
Styles for title
 */

.group-title .TitleSection{}

.group-title .buttons-section{
  padding: 25px;
  text-align: right;
}


/*
FORMS
 */

.form-style-curds .el-form-item{
  padding: 0px 15px;
}

.content-space{
  padding: 25px 15px;
}

.el-input-number__increase{
  background: rgba(25, 137, 250, 1);
  color: white;
}

.el-input-number__decrease{
  background: rgba(25, 137, 250, 1);
  color: white;
}

.el-notification__content{
  text-align: left;
}

.el-card{
  border-radius: 5px;
}

/**
Override
 */

.primary-color{
  color: rgba(25, 137, 250, 1);
}

.only-tablet{
  display: none;
}

@media (max-width: 950px){
  .only-tablet{
    display: block;
  }
}

